
<div class="d-flex">
    <div class="content p-4 w-100">
        <h2>Manage Students</h2>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>SN</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Course</th>
                        <th>Avatar</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Monika Lal</td>
                        <td>moni&#64;gmail.com</td>
                        <td>F</td>
                        <td>Python Fullstack</td>
                        <td><img src="avatar.png" class="avatar"></td>
                        <td>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mathan Lal</td>
                        <td>mathan&#64;gmail.com</td>
                        <td>M</td>
                        <td>Java Fullstack</td>
                        <td><img src="avatar.png" class="avatar"></td>
                        <td>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Leema Rose</td>
                        <td>leema&#64;gmail.com</td>
                        <td>F</td>
                        <td>Python Fullstack</td>
                        <td><img src="avatar.png" class="avatar"></td>
                        <td>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mohan dhas</td>
                        <td>mohan&#64;gmail.com</td>
                        <td>M</td>
                        <td>Java Fullstack</td>
                        <td><img src="assets/cargo form.jpg" ></td>
                        <td>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
